body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.alert

{
	 background-color: F23208;
}

.button {
  background-color: #088BD3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.form-styling {
  max-width: 320px;
  max-height: fit-content;
  padding: 15px;
  margin: 50px 50px;
  background-color: #e5e5e5;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 3%;
  float: left;
}

.form-styling .form-styling-heading,
.form-styling .checkbox {
  margin-bottom: 10px;
}

.form-styling .checkbox {
  font-weight: bold;
}

.form-styling .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-styling .form-control:focus {
  z-index: 2;
}


.form-styling .form-row{
  max-height:500px;
  display:inline-block;  
  margin-bottom: 5px;
  margin-inline-start: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; 
  align-items: end; 
}

.form-styling .form-row .form-column{
    width:100%;
    display:inline-block;     
    margin-bottom: 5px;
    margin-inline-start: auto;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; 
    align-items: end;  

}

.form-styling .form-row .form-label{  
  width:40%;
  float:left;
}

.form-styling .form-input{ 
  width:40%;
  float:left; 
}

.form-styling .form-column .button{ 
  width: 80%;
  display: block; 
  margin-left: auto;
  margin-right: auto;  
  

}

.form-styling .form-row .form-column .invalid-feedback{ 
  width:100%;
  float:right;
  color: red; 

}

